<div class="container">
  <div class="row">
    <h2>投稿編集</h2>
  </div>
  <%= form_with model: @game, url: admin_game_path, local: true do |f| %>
  <table>
    <tr>
      <th>image</th>
      <td><%= f.attachment_field :image %></td>
    </tr>
    <tr>
      <th>タイトル</th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th>本文</th>
      <td><%= f.text_area :text %></td>
    </tr>
    <tr>
      <th>ユーザー名</th>
      <td><%= @game.user.name %></td>
    </tr>
    <tr>
      <th>投稿日</th>
      <td><%= @game.created_at.to_s(:datetime_jp) %></td>
    </tr>
  </table>
  <div class="link">
    <%= f.submit "変更を保存", class: "btn btn-success btn-sm" %>
  </div>
  <% end %>
</div>


