<div class="container">
  <div class="row">
    <h2>登録情報編集</h2>
  </div>
  <%= form_with model: @user, local: true do |f| %>
  <table>
    <tr>
      <th>プロフィール画像</th>
      <td><%= f.attachment_field :image, placeholder: "プロフィール画像" %></td>
    </tr>
    <tr>
      <th>ユーザー名</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>自己紹介</th>
      <td><%= f.text_area :introduction %></td>
    </tr>
    <tr>
      <th>登録日</th>
      <td><%= @user.created_at.to_s(:datetime_jp) %></td>
    </tr>
  </table>
  <div class="link">
    <%= f.submit "変更を保存", class: "btn btn-success btn-sm" %>
  </div>
  <% end %>
</div>

