<div class="container">
  <div class="row">
    <h2>投稿詳細</h2>
  </div>
  <table>
    <tr>
      <th>image</th>
      <td><%= attachment_image_tag @game, :image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
    </tr>
    <tr>
      <th>タイトル</th>
      <td><%= @game.title %></td>
    </tr>
    <tr>
      <th>本文</th>
      <td><%= @game.text %></td>
    </tr>
    <tr>
      <th>ユーザー名</th>
      <td><%= @game.user.name %></td>
    </tr>
    <tr>
      <th>投稿日</th>
      <td><%= @game.created_at.to_s(:datetime_jp) %></td>
    </tr>
  </table>
  <div>
    <p>コメント件数：<%= @game.comments.count %></p>
    <% @game.comments.each do |comment| %>
      <%= comment.user.name %>:
      <%= comment.comment %><%= comment.created_at.strftime(' (%Y年 %m月 %d日 %H時 %M分)') %>
      <% if comment.user == current_user %>
      <div>
        <%= link_to "削除", game_comment_path(comment.game, comment), method: :delete %>
      </div>
      <% end %>
    <% end %>
      <% if @game.favorited_by?(current_user) %>
        <p>
          <%= link_to game_favorite_path(@game), method: :delete do %>
            ♥<%= @game.favorites.count %> いいね
          <% end %>
        </p>
      <% else %>
        <p>
          <%= link_to game_favorites_path(@game), method: :post do %>
            ♥<%= @game.favorites.count %> いいね
        　<% end %>
        </p>
      <% end %>
  </div>
  <div>
    <%= form_with(model:[@game, @comment], local: true) do |f| %>
      <%= f.text_area :comment, rows:'5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する", class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
  <% if @game.user_id == current_user.id %>
  <div class="link">
    <%= link_to "編集する", edit_game_path, class: "btn btn-success btn-sm" %>
    <%= link_to "削除する", game_path(@game), method: :delete, class: "btn btn-danger btn-sm" %>
  <% end %>
  </div>
</div>


